<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/static/css/common-style.css}">
    <link rel="stylesheet" th:href="@{/static/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/static/css/sweetalert.css}">
    <!-- jQuery js -->
    <script th:src="@{/static/assets/jquery/jquery-1.12.3.min.js}"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/myjs.js"></script>
    <style type="text/css">
        /* 以下两个样式 解决模态框每次关闭都要左偏移 */
        body{
            padding-right: 0!important;
        }
        *.modal-open{
            overflow-y: scroll;
            padding-right: 0!important;
        }
        .div-center{
            display: inline-block;
        }
        .modal-tit{
            text-align: center;
            color: white;
        }
    </style>
</head>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #307095;font-weight: bold;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title modal-tit">
                    选择难度
                </h4>
            </div>
            <div class="modal-body" >
                <div class="div-center" style="margin-left: 200px">
                    <a href="" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" data-dismiss="modal" data-type="1">初级</a>
                </div>
                <div class="div-center" style="margin-left: 20px">
                    <a href="" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" data-dismiss="modal" data-type="2">中级</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" style="overflow-y: scroll">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #307095;font-weight: bold;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title modal-tit" id="myModalLabel">
                    限时训练
                </h4>
            </div>
            <form method="post" action="javascript:f()" id="form1">
                <div class="modal-body">
                    <ul id="some-sententials">

                    </ul>

                    <font color ="red"><h3 align="right"id="timer" size="7" face="impact"> </h3></font>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        关闭
                    </button>
                    <input type="submit" value="提交" class="btn btn-primary">
                    <!--<button type="button" class="btn btn-primary">-->
                    <!--提交更改-->
                    <!--</button>-->
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    var sec=120;
    var sec1=160;
    function countDown() {
        if(sec>=0){
            msg="距离结束还有"+sec+"秒";
            document.all['timer'].innerHTML=msg;
            if(sec==30)swal("还剩30秒");
            --sec;
        }else {
            clearInterval(timer);
            swal("时间到，答题结束！");
            f();
        }
    }
    function countDown1() {
        if(sec1>=0){
            msg="距离结束还有"+sec1+"秒";
            document.all['timer'].innerHTML=msg;
            if(sec1==30)swal("还剩30秒");
            --sec1;
        }else {
            clearInterval(timer);
            swal("时间到，答题结束！");
            f();
        }
    }

    $(function() {
        $('#myModal2').on('show.bs.modal',
            function(e) {
                var type=$(e.relatedTarget).data('type');
                if(type==1){
                    timer=setInterval('countDown()',1000);
                }else if(type==2){
                    timer=setInterval('countDown1()',1000);
                }
                //alert(type);
                $.ajax({
                    url:"http://localhost:8080/onlineEnglishLearning/findSomeSententials/api",
                    type:'post',
                    dataType:"json",
                    data:{
                        type:type
                    },
                    success:function (data) {
                        var dataObj=data.data.content;
                        con="";
                        for(i=0;i<data.data.content.length;i++){
                            con+="<li id="+data.data.content[i].sentenceId+" class='sen-font'>"+data.data.content[i].content+"</li><br/>";
                            con+="<li>"+data.data.content[i].translate+"</li><br/>";
                            con+="答案：<input name="+data.data.content[i].sentenceId+" type='text' class='sen-input'"+"/><br/>"
                        }
                        $("#some-sententials").html(con);
                    }
                })
            })
    });
    $(function() {
        $('#myModal2').on('hide.bs.modal',
            function() {
                clearInterval(timer);//计时器清零
                sec=120;
                sec1=160;
                $('#myModal').remove();//上层模态框移除
            })
    });

    function f(e) {

        $.ajax({
            url:"http://localhost:8080/onlineEnglishLearning/submitSentential/api",
            headers: {'token': $.cookie('token')},
            data:$('#form1').serialize(),
            success:function (data) {
                clearInterval(timer);
                swal("成绩为:"+data.data+"分")
            },
            error:function () {
                swal("请登陆后答题")
            }
        })
    }
</script>

<body class="home-one">
<div class="preloader"></div>
<header class="header clearfix">
    <div class="main-header stricky bubble">
        <div class="container">
            <div class="logo pull-left">
                <a href="index.html">
                    <img th:src="@{/static/images/logo/1.png}" alt="Awesome Image">
                </a>
            </div>

            <div class="nav-outer">
                <div class="header-top">
                    <div class="register">
                        <a th:href="@{/register}" >注册</a>
                        <a href="/onlineEnglishLearning/login.html" th:if="${session.username} == null">登陆 </a>
                        <a th:if="${session.loginUserMap} != null" class="btn-cta">
                            <a th:href="@{/findSelfInfo/api(token=${session.token})}" id="userInfoLink"  class="btn btn-outline-primary login text-white" >
                                <span th:text="${session.username}"></span>
                            </a>
                        </a>
                    </div>

                    <div id="top-search" class="top-search">
                        <span class="flaticon-search search"></span>
                        <ul class="search-box">
                            <li>
                                <form action="#">
                                    <input type="text" placeholder="Search for something...">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a th:href="@{/findAllCarts/api(token=${session.token})}"><span class="flaticon-shop"></span></a>
                    </div>
                </div>
                <nav class="mainmenu-area">
                    <div class="navbar" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>

                        <div class="navbar-collapse collapse text-center">
                            <ul>
                                <li><a th:href="@{/index(token=${session.token})}">首页</a></li>
                                <li><a th:href="@{/word(token=${session.token})}">背单词</a></li>
                                <li><a href="#">情景会话</a></li>
                                <li class="dropdown">
                                    <a href="#">听力训练</a>
                                    <ul class="submenu">
                                        <li><a th:href="@{/listening(token=${session.token})}">听力测试</a></li>
                                        <li><a th:href="@{/findAllVideos/api(token=${session.token})}">影视英语</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a th:href="@{/findBooksByCondition/api}">图书商城</a>
                                    <ul class="submenu">
                                        <li><a th:href="@{/findAllCarts/api(token=${session.token})}">购物车 </a></li>
                                        <li><a th:href="@{/findAllOrders/api(token=${session.token})}">已买到的宝贝</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/findOneGame/api(token=${session.token})}">少儿游戏</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</header>

<section class="page-title center">
    <div class="container">
        <h2>情景会话</h2>
        <ul th:each="obj:${datas}">
            <li><a th:href="@{/index(token=${session.token})}">首页</a></li>
            <li><a th:href="@{/findAllSentences/api(token=${session.token})}">情景会话</a></li>
            <li th:if="${obj.type}==1">--日常生活</li>
            <li th:if="${obj.type}==2">--人际交往</li>
            <li th:if="${obj.type}==3">--校园生活</li>
            <li th:if="${obj.type}==4">--兴趣爱好</li>
            <li th:if="${obj.type}==5">--美食话题</li>
        </ul>
    </div>
</section>

<div class="checkout-page">
    <div class="container">

        <!--Default Links-->
        <ul class="default-links">
            <li>
                <a th:href="@{/findAllSentences/api(token=${session.token},type=1)}">日常生活</a> |
                <a th:href="@{/findAllSentences/api(token=${session.token},type=2)}">人际交往</a> |
                <a th:href="@{/findAllSentences/api(token=${session.token},type=3)}">校园生活</a> |
                <a th:href="@{/findAllSentences/api(token=${session.token},type=4)}">兴趣爱好</a> |
                <a th:href="@{/findAllSentences/api(token=${session.token},type=5)}">美食话题</a>
                <a style="float: right;font-size: 15px;color: #0b3e6f" href="#"  data-toggle="modal" data-target="#myModal1">限时训练</a>
            </li>
        </ul>

        <div class="row clearfix">
            <div class="col-md-11 col-sm-12 col-xs-12">
                <!--Billing Details-->
                <div class="">
                    <div class="shop-form">
                        <div class="form-group" th:each="obj:${datas}">
                            <label class="field-label" style="display: inline-block" th:text="${obj.content}"></label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答案：
                            <input th:id="${obj.sentenceId}" type="text" class="sen-input" th:name="${obj.sentenceId}"
                                   onblur="checkWord(this)" style="display: inline-block;height: 35px;width: 120px"/>
                            <button th:name="${obj.sentenceId}" onclick="findCorrectWord(this)"
                                    class="theme-btn btn-style-one" style="padding: 0 0;float: right">查看答案
                            </button>
                            <br/>
                            <li th:text="${obj.translate}">米歇尔，这是我的朋友，詹姆斯。他从纽约来上海玩。</li>
                            <hr/>
                        </div>
                    </div>
                    <div style="float: right">
                        <a th:href="@{/findAllSentences/api(token=${session.token},page=0)}">
                            <button type="button" class="btn btn-warning">首页</button>
                        </a>
                        <div th:if="${datas.hasPrevious()}" style="display: inline-block">
                            <a th:href="@{/findAllSentences/api(token=${session.token},page=${datas.number-1})}">
                                <button type="button" class="btn btn-warning">上一页</button>
                            </a>
                        </div>

                        <div th:if="${datas.hasNext()}" style="display: inline-block">
                            <a th:href="@{/findAllSentences/api(token=${session.token},page=${datas.number+1})}">
                                <button type="button" class="btn btn-warning">下一页</button>
                            </a>
                        </div>
                    </div>
                </div><!--End Billing Details-->
            </div>
        </div>
    </div>
</div>

<section class="footer">

    <div class="footer-bottom">
        <div class="footer-bottom-bg">
            <div class="container">
                <div class="pull-left">
                    <figure><a href="#"><img src="../static/images/logo/1.png" alt=""></a></figure>
                </div>
                <div class="pull-right">
                    <div class="menu">
                        <ul class="clearfix">
                            <li><a th:href="@{/index(token=${session.token})}">home</a></li>
                            <li><a th:href="@{/word(token=${session.token})}">word</a></li>
                            <li><a th:href="@{/findAllSentences/api(token=${session.token},type=1)}">sentential</a></li>
                            <li><a href="gallery.html">listening</a></li>
                            <li><a href="news.html">shop</a></li>
                            <li><a href="shop.html">game</a></li>
                        </ul>
                    </div>
                    <div class="copy-right">
                        Zone @ 2019.Company name All rights reserved.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Scroll to top-->
<div class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></div>



<!-- bootstrap js -->
<script th:src="@{/static/assets/bootstrap/js/bootstrap.min.js}"></script>
<!-- jQuery ui js -->
<script th:src="@{/static/assets/jquery-ui-1.11.4/jquery-ui.js}"></script>
<!-- sweetalert -->
<script th:src="@{/static/js/sweetalert-dev.js}"></script>
<!-- wow js -->
<script th:src="@{/static/assets/wow.js}"></script>

<!-- owl carousel js -->
<script th:src="@{/static/assets/owl.carousel-2/owl.carousel.min.js}"></script>              <!-- jquery.bxslider js -->
<script th:src="@{/static/assets/jquery.bxslider/jquery.bxslider.min.js}"></script>
<!-- jQuery validation -->
<script th:src="@{/static/assets/jquery-validation/dist/jquery.validate.min.js}"></script>
<!-- gmap.js helper -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>-->
<!-- gmap.js -->
<!--<script src="assets/gmaps.js"></script>-->

<!-- mixit u -->
<script th:src="@{/static/assets/jquery.mixitup.min.js}"></script>
<script th:src="@{/static/assets/isotope.pkgd.min.js}"></script>
<script th:src="@{/static/assets/jquery.countdown.min.js}"></script>
<script th:src="@{/static/assets/masterslider/masterslider.js}"></script>
<script th:src="@{/static/assets/SmoothScroll.js}"></script>

<!-- revolution slider js -->
<script th:src="@{/static/assets/revolution/js/jquery.themepunch.tools.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/jquery.themepunch.revolution.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.carousel.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.kenburn.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.migration.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.parallax.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
<script th:src="@{/static/assets/revolution/js/extensions/revolution.extension.video.min.js}"></script>

<script th:src="@{/static/assets/Polyglot-Language-Switcher-master/js/jquery.polyglot.language.switcher.js}"></script>
<script th:src="@{/static/assets/fancyapps-fancyBox/source/jquery.fancybox.pack.js}"></script>
<script th:src="@{/static/assets/scrollbar.js}"></script>

<!--<script src="js/default-map-script.js"></script>-->
<script th:src="@{/static/js/script.js}"></script>


</body>
</html>

